<div class="paginator-container">
    <div class="page-buttons">
        <ng-template *ngFor="let btn of getPageButtons() | async">
            {{btn}}
            <button class="page-btn">{{btn}} hey</button>
        </ng-template>

    </div>
    <div class="page-dropdown">
        <select>
            <ng-template *ngFor="let option of getPageCountOptions() | async">
                <option>{{option}}</option>
            </ng-template>
        </select>
    </div>
    <div>

    </div>
</div>