.calc-output-wrapper {
    width: 750px;
}

table {
    width: 750px;
}

._RdsCurrencyCell_header {
    text-align: right;
}

._RdsDateCell_header {
    text-align: center;
}

._RdsDateCell_cell {
    text-align: center;
}