<table>

</table>


<div class="calc-output-wrapper calc-card">
    <table>
        <tr>
            <th *ngFor="let column of columns"
                [ngClass]="[column.type.name + '_header', 'rds_' + column.key + '_header']">
                {{column.header}}</th>
        </tr>
        <tr *ngFor="let row of data">
            <ng-container *ngFor="let column of columns">
                <td [ngClass]="[column.type.name + '_cell', 'rds_' + column.key + '_cell']">
                    <ng-template [rds-cell]="{column: column, row: row}"></ng-template>
                </td>
            </ng-container>
        </tr>
    </table>
    <paginator></paginator>
</div>